.discount-banner-container {
  background-color: #ffe6cc;
  height: 330px;

  position: absolute;
  width: 100%;

}
.discount-banner-text-container {
  position: absolute;
  left: 400px;
  top: 70px;
}
.discount-bannner-images {
position: absolute;
  left: 1100px;
}
.discount-banner-cashback-text {
  font-size: 52px;
  font: Inter, san-serif;
  display: block;
  width: 461px;
  font-weight: 700;
}
.discount-banner-on-shopcart {
  font: 20px Inter, sans-serif;
  margin: 30px 0px 30px;
  font-weight: 800;
}
.discount-banner-learn-more {
  display: flex;
  border: 1px solid;
  width: 167px;
  height: 56px;
  background-color: #003d29;
  color: white;
  border-radius: 30px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font: 18px Elina01, sans-serif;
  font-weight: 700;
  position: absolute;
  
}
.discount-banner-first-card-image {
  position: relative;
  transform: rotate(-30deg);
top: 50px;
  z-index: 2;
  right: -40px;
}
.discount-banner-second-card-image {
bottom: 95px;
  position: relative;
  transform: rotate(-15deg);
  z-index: 1;
  left: 60px;
}
.discount-banner-third-card-image {
  z-index: 0;
 bottom: 250px;
  position: relative;
  transform: rotate(-10deg);
  left: 70px;
}
.discount-banner-learn-more:hover{
 background-color: black;
}