/* .account-page-security-changing-text {
  font-size: 30px;
  font-weight: 600;
}

.account-page-security-email-input {
  width: 300px;
  height: 35px;
  padding: 10px 0px 10px 10px;
  border-radius: 5px;
  border: 1px solid grey;
}
.account-page-security-password-button {
  width: 300px;
  border-radius: 10px;
  border-width: 1px;

  background-color: black;

  border: 1px solid black;
  color: white;
  font-size: 16px;
  font-weight: 600;

  height: 35px;
  position: relative;
  top: 70px;
}
.account-page-security-password-visibility-icon {
  position: relative;
  left: 270px;
  top: 16px;
}
.account-page-security-password-input {
  position: relative;
  right: 0px;
  top: 20px;

  width: 300px;
  height: 35px;
  padding: 10px 0px 10px 10px;
  border-radius: 5px;
  border: 1px solid grey;
}

.account-page-security-changing {
  position: relative;
  white-space: nowrap;
  left: 200px;
  width: 300px;
}
.account-page-security-container {
  position: absolute;
}
.account-page-security-password-text {
  position: relative;
  top: 17px;
  font-size: 17px;
  font-weight: 600;
}
.account-page-security-email-text {
  position: relative;

  font-size: 17px;
  font-weight: 600;
}
.account-page-security-password-container {
  position: relative;
  top: 20px;
} */
.account-page-security-email-input {
  width: 300px;
  height: 35px;
  padding: 10px 0px 10px 10px;
  border-radius: 5px;
  border: 1px solid grey;
  position: relative;
}
.account-page-security-password-input {
  width: 300px;
  height: 35px;
  padding: 10px 0px 10px 10px;
  border-radius: 5px;
  border: 1px solid grey;
  position: relative;
  top: 36px;
}
.account-page-security-changing-text {
  font-size: 30px;
  font-weight: 600;
  position: relative;
  white-space: nowrap;
}
.account-page-security-password-text {
  font-size: 20px;
  font-weight: 600;
  position: relative;
  top: 130px;
  top: 26px;
}
.account-page-security-email-text {
  font-size: 20px;
  font-weight: 600;
  position: relative;
}
.account-page-security-password-visibility-icon {
  position: relative;
  /* bottom: 20px; */
  top: 8px;
  left: 270px;
}

.account-page-security-password-button {
  width: 300px;
  border-radius: 10px;
  border-width: 1px;

  background-color: black;

  border: 1px solid black;
  color: white;
  font-size: 16px;
  font-weight: 600;

  height: 35px;
  position: relative;
  /* left: 200px; */
  top: 26px;
}
.account-page-security-container {
  position: absolute;
  margin-left: 200px;
}
