.weekly-top-products-items-image {
  max-height: 200px;
}
.weekly-top-products-container {
  height: 500px;
}

.weekly-top-products-categories-container {
  display: flex;
  position: absolute;
  left: 20%;
  gap: 20px;
}
.weekly-top-products-categories-items {
  border: 1px solid grey;
  width: 105px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  font: 14px Elina01, sans-serif;
  font-weight: 600;
  transition: all 200ms ease;
}
.weekly-top-products-items-favorite-container {
  position: relative;
  left: 30px;
}
.weekly-top-products-item-container {
  display: flex;
  position: relative;
  margin: 40px 0px 0px 350px;
  gap: 40px;
}

.weekly-top-products-items-description-title-price-container {
  display: flex;
}
.weekly-top-products-items-price {
  left: 30%;
  font: Elina01, sans-serif;
  position: relative;
}

.weekly-top-products-items-rating-and-count-container {
  display: flex;
  position: relative;
  top: 10px;
  transition: all 200ms ease;
}
.weekly-top-produts-items-count {
  font-size: 14px;
}
.weekly-top-products-items-add-to-cart-button {
  width: 120px;
  height: 38px;
  border: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  position: relative;
  top: 20px;
}
.weekly-top-products-items-add-to-cart-button:hover {
  background: #003d29;
  cursor: pointer;
  color: white;
}
.weekly-top-product-text {
  font-size: 25px;
  position: relative;
  left: 300px;
  font-weight: 600;
  bottom: 20px;
}
