.discount-banner-container {
  width: 100%;
  background: #ffe6cc;
  height: 330px;
  margin: 0px 0px 100px 0px;
}
.discount-banner-text-container {
  position: absolute;
}
.discount-banner-cashback-text {
  position: relative;
  font: 58px Inter, sans-serif;
  font-weight: 600;
  margin: 0px 0px 18px;
  left: 400px;
  top: 50px;
}
.discount-banner-on-shopcart {
  position: relative;
  left: 404px;
  top: 50px;
  font: 20px Inter, sans-serif;
}
.discount-banner-learn-more {
  position: relative;
  display: flex;
  height: 56px;
  width: 167px;
  background: #003d29;
  border-radius: 40px;
  color: white;
  font: 16px Inter, sans-serif;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  top: 80px;
  left: 400px;
}
.discount-bannner-images {
  position: absolute;
}
.discount-banner-first-card-image {
  z-index: 2;
  position: relative;
  left: 1070px;
  top: 50px;
  transform: rotate(-38deg);
}
.discount-banner-second-card-image {
  z-index: 1;
  position: relative;
  left: 1090px;
  transform: rotate(-25deg);
  top: -100px;
}
.discount-banner-third-card-image {
  z-index: 0;
  position: relative;
  left: 1100px;
  top: -250px;
  transform: rotate(-13deg);
}
